---
import Badge from "./Badge.astro"

const Options = [
	{
		img: 'https://assets-global.website-files.com/5b5729421aca332c60585f78/63f5fa23da820b87c87958be_61ba503872080311dde1ea56_long-form-landing-page-examples.png',
		title: 'Landing Page',
		checks: [
					"Diseño personalizado", 
					"10 secciones",
					"Formulario integrado",
					"Optimizado para SEO",
					"3 Reuniones de revisión",
				],
		rangeLow: '$120.000 ars',
		rangeHigh: '$160.000 ars',
		link: 'https://api.whatsapp.com/send?phone=542616841853&text=Hola%20Tom%C3%A1s!%20Quiero%20una%20landing%20page%20a%20medida%20para%20mi%20empresa%20%F0%9F%92%AA'
	},
	{
		img: 'https://assets-global.website-files.com/5b5729421aca332c60585f78/63f5fa23da820b87c87958be_61ba503872080311dde1ea56_long-form-landing-page-examples.png',
		title: 'eCommerce',
		checks: [
					"Diseño personalizado", 
					"6 páginas ademas de las basicas",
					"Formulario integrado",
					"Optimizado para SEO",
					"10 plugis a eleccion",
					"Hasta 50.000 productos",
					"Blog",
					"6 Reuniones de revisión",
				],
		rangeLow: '$350.000 ars',
		rangeHigh: '$450.000 ars',
		link: 'https://api.whatsapp.com/send?phone=542616841853&text=Hola%20Tom%C3%A1s!%20Quiero%20un%20eCommerce%20a%20medida%20para%20mi%20empresa%20%F0%9F%92%AA'
	},
	{
		img: 'https://assets-global.website-files.com/5b5729421aca332c60585f78/63f5fa23da820b87c87958be_61ba503872080311dde1ea56_long-form-landing-page-examples.png',
		title: 'Web Institucional',
		checks: [
					"Diseño personalizado", 
					"10 páginas",
					"Formulario integrado",
					"Optimizado para SEO",
					"10 plugis a eleccion",
					"Blog",
					"6 Reuniones de revisión",
				],
		rangeLow: '$250.000 ars',
		rangeHigh: '$350.000 ars',
		link: 'https://api.whatsapp.com/send?phone=542616841853&text=Hola%20Tom%C3%A1s!%20Quiero%20una%20web%20institucional%20a%20medida%20para%20mi%20empresa%20%F0%9F%92%AA'
	},
	{
		img: 'https://assets-global.website-files.com/5b5729421aca332c60585f78/63f5fa23da820b87c87958be_61ba503872080311dde1ea56_long-form-landing-page-examples.png',
		title: 'Sistema a medida',
		checks: [
					"Sin limite de reuniones",
				],
		rangeLow: '$400 usd',
		rangeHigh: '$5.000 usd',
		link: 'https://api.whatsapp.com/send?phone=542616841853&text=Hola%20Tom%C3%A1s!%20Quiero%20un%20sistema%20a%20medida%20para%20mi%20empresa%20%F0%9F%92%AA'
	},
]
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-3">
	{
		Options.map((option) => (
			<div class="rounded p-4 bg-gradient-to-br from-neutral-400/20 to-neutral-700/30 hover:scale-[101%] transition">
				<img class="rounded"
					src={option.img}
					alt={option.title} />
				<h2 class="my-2 font-bold text-xl">{option.title}</h2>
				<ul class="py-3 list-disc list-inside h-fit md:h-[216px]">
					{
						option.checks.map((check) => (
							<li>{check}</li>
						))
					}
				</ul>
				<div class="flex gap-3 mt-2 mb-5 font-bold">
					<span>{option.rangeLow}</span> - <span>{option.rangeHigh}</span>	
				</div>
				<a href={option.link} target="_blank"><Badge class="text-[15px] px-4 py-2 block w-full text-center font-bold">Comprar</Badge></a>
				<p class="mt-3 text-xs text-white/70">Aclaración: el pago se realiza en 2 etapas, una para dar inicio al proyecto y la segunda una vez finalizado para la entrega de este.</p>
			</div>
		))
	}
</div>