---
import Badge from "./Badge.astro"

const Options = [
	{
		img: 'https://assets-global.website-files.com/5b5729421aca332c60585f78/63f5fa23da820b87c87958be_61ba503872080311dde1ea56_long-form-landing-page-examples.png',
		title: 'Landing Page',
		desc: '...',
		checks: [
					"Diseño personalizado", 
					"12 secciones",
					"Formulario integrado",
					"Optimizado para SEO",
					"3 Reuniones de revisión",
					"",
					"",
					""
				],
		basePrice: 160000
	},
	{
		img: 'https://assets-global.website-files.com/5b5729421aca332c60585f78/63f5fa23da820b87c87958be_61ba503872080311dde1ea56_long-form-landing-page-examples.png',
		title: 'eCommerce',
		desc: '...',
		checks: [
					"Diseño personalizado", 
					"6 páginas ademas de las basicas",
					"Formulario integrado",
					"Optimizado para SEO",
					"10 plugis a eleccion",
					"Hasta 50.000 productos",
					"Blog",
					"6 Reuniones de revisión",
				],
		basePrice: 400000
	},
]
---

<div class="grid grid-cols-2 gap-3">
	{
		Options.map((option) => (
			<div class="rounded p-4 bg-gradient-to-br from-neutral-400/20 to-neutral-700/30">
				<img class="rounded"
					src={option.img}
					alt={option.title} />
				<h2 class="my-2 font-bold text-xl">{option.title}</h2>
				<p class="text-white/70">{option.desc}</p>
				<ul class="py-3 list-disc list-inside">
					{
						option.checks.map((check) => (
							<li>{check}</li>
						))
					}
				</ul>
				<label><input type="checkbox" name="" id=""> Ya cuento con diseño</label>
				<span class="block mt-2 mb-5 font-bold">${option.basePrice}</span>
				<a href="#!" class=""><Badge class="text-[15px] px-4 py-2 block w-full text-center font-bold">Comprar</Badge></a>
			</div>
		))
	}