---
import SocialPill from "./SocialPill.astro";
import NextJS from "./icons/NextJS.astro";
const Projects = [
	{
		title: 'Sistema de gestion de subastas',
		description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
		link: '#',
		github: '#',
		image: '/imgs/hertz-app-project-screenshot.webp',
		tags: [ 'NextJS', 'React', 'Tailwind CSS', 'Supabase' ]
	},
	{
		title: 'Project 2',
		description: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
		link: '#',
		github: '#',
		image: '/imgs/hertz-1-app-project-screenshot.webp',
		tags: [ 'NextJS', 'React', 'Tailwind CSS' ]
	}
]

---

<div>
{
	Projects.map(({title, description, link, github, image, tags}) => (
		<article class="relative mb-6 transition rounded overflow-hidden">
			<img class="shadow-2xl shadow-white/8" src={image} alt="Captura de pantalla del proyecto" />
			<div class="backdrop-brightness-[15%] p-[30px] size-full absolute top-0 left-0 opacity-0 flex-col gap-3 hover:opacity-100 transition">
				<h3 class="text-xl md:text-3xl font-semibold text-yellow-200">{title}</h3>
				<p class="text-white/90 my-4">{description}</p>
				{console.log(tags)}
				<nav class="flex gap-3">
					{ tags.map(tag => (
						<SocialPill>{tag}</SocialPill>
					)) }
				</nav>
			</div>
		</article>
	))
}
</div>